.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-background);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 1085px;
  padding: 85px 0;
}

.about-title {
  margin-right: 48px;
  color: var(--site-text-color);
  font-size: 38px;
  font-family: "BN Chester", sans-serif;
  line-height: 40px;
}

.about-description {
  color: var(--site-text-color);
  font-size: 15px;
  line-height: 25px;
}

.edit-about-section-content {
  text-align: start;
}
