.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-background);
}

.about-container {
  width: 1085px;
  padding: 85px 0;
}

.about-content {
  display: flex;
  justify-content: space-between;
}

.about-left {
  flex-grow: 1;
}

.about-right {
  padding: 185px 0;
}

.about-title {
  width: 112px;
  height: 78px;
  margin-top: 50px;
  color: var(--site-text-color);
  font-size: 38px;
  font-family: "BN Chester", sans-serif;
  line-height: 39px;
}

.about-description {
  width: 529px;
  height: 225px;
  margin-bottom: 55px;
  color: var(--site-text-color);
  font-size: 15px;
  line-height: 25px;
  transform: translateX(130px);
}

.edit-about-section-block {
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
}

.edit-about-section-block:focus {
  box-shadow: none;
}
