.form-wrapper {
  width: 321px;
  padding: 48px 0;
}

.profile-image-wrapper {
  position: relative;
  display: block;
  width: 151px;
  height: 151px;
  margin: 0 auto 30px;
  overflow: hidden;
  background-color: var(--gray-100);
  border-radius: 50%;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-image-wrapper::after {
  content: "Change avatar";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 16px;
  background-color: rgba($color: #000000, $alpha: 25%);
  visibility: hidden;
  cursor: pointer;
}

.profile-image-wrapper:hover::after {
  visibility: visible;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 35px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.button {
  width: 100%;
}

.submit-button {
  color: var(--black);
}
