.service {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
}

.service-container {
  width: 1085px;
  padding-top: 55px;
}

.title {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  color: var(--site-text-color);
  font-size: 37px;
  font-family: "BN Chester", sans-serif;
  line-height: 36px;
}

.service-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 80px;
}

.edit-title {
  width: 300px;
  margin: auto;
}
