.headerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  width: 100%;
}

.btnWrapper {
  width: 138px;
}
