.page-content {
  background-color: var(--white);
}

.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px 50px;
  color: var(--yellow);
  font-size: 32px;
  background: left / auto repeat url("../../assets/img/background-pattern.png"),
    var(--black);
}

.logo-dot {
  display: block;
  width: 32px;
  height: 32px;
  background-color: var(--yellow);
  border-radius: 50%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  width: 422px;
  padding: 30px 50px 60px;
}

.yellow {
  background-color: var(--yellow);
}
