.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 340px;
  margin: 0 auto;
}

.submit-button {
  margin: 32px auto 0;
}

.choose-image-wrapper {
  position: relative;
}

.choose-image-wrapper::after {
  content: "Change image";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 16px;
  background-color: rgba($color: #000000, $alpha: 25%);
  visibility: hidden;
  cursor: pointer;
}

.choose-image-wrapper:hover::after {
  visibility: visible;
}

.choose-image .choose-image-wrapper:hover {
  border: 2px solid var(--yellow);
}

.choose-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border: 2px solid var(--black);
}

.select-wrapper {
  margin-top: 5px;
}
