.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: var(--white);
  font-weight: 500;
  font-size: 30px;
  font-style: normal;
  line-height: 48px;
}

.warning-number {
  font-size: 22px;
}

.status {
  font-size: 22px;
  font-style: italic;
}
