.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: red;
}

.warning-message {
  font-size: 24px;
}

.warning-number {
  font-size: 30px;
}

.status {
  font-size: 22px;
  font-style: italic;
}
