.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--white);
}

.image-wrapper {
  position: relative;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-description {
  padding: 10px;
}

.edit-project-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
  padding: 4px 6px;
  border-radius: 50%;
}

.card:hover .edit-project-icon {
  display: block;
}
