.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--white);
}

.image-wrapper {
  position: relative;
  height: 60%;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-description {
  padding: 16px 24px;
}

.card-category {
  margin: 0;
}

.edit-project-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: none;
  padding: 4px 6px;
  border-radius: 50%;
}

.card:hover .edit-project-icon {
  display: block;
}

.yellow-icon svg {
  width: 14px;
  height: 14px;
}

.yellow-icon svg path {
  fill: var(--yellow);
}
