.card {
  width: var(--card-width);
  height: var(--card-height);
  background-color: var(--white);
}

.card-image-wrapper {
  position: relative;
}

.card-image-wrapper::after {
  content: "Change image";
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--white);
  font-size: 16px;
  background-color: rgba($color: #000000, $alpha: 25%);
  visibility: hidden;
  cursor: pointer;
}

.card-image-wrapper:hover::after {
  visibility: visible;
}

.card-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.card-description {
  padding: 10px;
}
