.form-wrapper {
  width: 321px;
  padding: 55px 0;
}

.captions {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 40px;
}

.caption {
  color: var(--yellow);
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 13px;
}

.button {
  width: 100%;
}

.submit-button {
  color: var(--black);
}
