.header {
  position: absolute;
  top: 20px;
  left: 50%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
  transform: translateX(-50%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1085px;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 52px;
}

.header-logo {
  color: var(--site-text-color);
  font-size: 22px;
}

.navigation-links {
  display: flex;
  gap: 18px;
}

.navigation-link,
.navigation-link:active {
  color: var(--site-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 42px;
  text-decoration: none;
}

.navigation-link::first-letter {
  text-transform: uppercase;
}

.header-phone {
  color: var(--site-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-shadow: 1px 1px 2px rgb(255 255 255 / 70%);
}
