.header {
  position: absolute;
  top: 20px;
  left: 50%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 22px;
  transform: translateX(-50%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1085px;
}

.header-logo {
  color: var(--site-text-color);
  font-size: 22px;
}

.header-phone {
  color: var(--site-text-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.edit-input {
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
}

.edit-input:focus {
  box-shadow: none;
}
