.header {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1085px;
}

.header-logo {
  color: #161616;
  font-size: 22px;
}

.header-phone {
  color: #161616;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}
