.page-layout {
  display: block;
}

.page-wrapper {
  --card-width: 294px;
  --card-height: 296px;
  --card-gap: 20px;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(var(--card-width) * 3 + var(--card-gap) * 2);
  margin: 98px auto 24px;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
}

.create-button {
  gap: 8px;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--card-gap);
  width: calc(var(--card-width) * 3 + var(--card-gap) * 2);
  height: max-content;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--white);
  font-weight: 500;
  transform: translate(-50%, -50%);
}

.placeholder-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.placeholder-main-caption {
  font-size: 50px;
  line-height: 64px;
}

.placeholder-sub-caption {
  font-size: 30px;
  line-height: 48px;
}

.placeholder-button {
  padding: 20px 60px;
}

.search-input {
  width: 292px;
}

.button-wrapper {
  position: relative;
}

.link-to-projects {
  position: absolute;
  top: 20px;
  left: -49px;
  z-index: 100;
  width: 28px;
  height: 28px;
  background-color: #d9d9d9;
  border-radius: 14px;
}

.back-icon {
  width: 12px;
  height: 12px;
  margin-top: 8px;
  margin-left: 7px;
}

.title {
  margin-top: 0;
}
