.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content {
  display: flex;
  height: 1000px;
}

.main-content-left {
  flex-grow: 1;
}

.main-content-right {
  width: 530px;
  margin-top: 30px;
  margin-right: 15px;
  padding: 185px 0;
}

.main-title {
  margin-bottom: 29px;
  padding-top: 15px;
  color: #3d3737;
  font-size: 62px;
  font-family: "BN Chester", sans-serif;
  line-height: 59px;
}

.main-description {
  height: 400px;
  margin-bottom: 55px;
  overflow: auto;
  color: var(--site-text-color);
  font-size: 15px;
  line-height: 25px;
}

.main-picture {
  object-fit: cover;
}

.edit-main-section-content {
  padding: 0;
  text-align: start;
  border: none;
}
