.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-content {
  display: flex;
}

.main-content-left {
  flex-grow: 1;
}

.main-content-right {
  width: 530px;
  margin-right: 15px;
  padding: 185px 0;
}

.main-title {
  margin-bottom: 29px;
  padding-top: 15px;
  color: #3d3737;
  font-size: 62px;
  font-family: "BN Chester", sans-serif;
  line-height: 59px;
}

.main-description {
  margin-bottom: 55px;
  color: var(--site-text-color);
  font-size: 15px;
  line-height: 25px;
}

.main-button {
  width: 155px;
  height: 45px;
  color: var(--site-text-color);
  font-weight: 700;
  font-size: 15px;
  font-family: Gilroy, serif;
  line-height: 22px;
  background: transparent;
  border: 2px solid var(--site-brown-color);
  border-radius: 7.5px;
  cursor: pointer;
}

.main-picture {
  object-fit: cover;
}

.edit-main-section-content {
  height: 100%;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border: none;
}

.edit-main-section-content:focus {
  box-shadow: none;
}
