.card {
  width: var(--card-widh);
  height: var(--card-height);
  background-color: var(--white);
}

.image {
  width: 100%;
  height: 50%;
}

.content {
  padding: 20px;
}

.title {
  color: var(--gray-600);
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}
