.page-layout {
  display: block;
}

.page-wrapper {
  --card-width: 294px;
  --card-height: 296px;
  --card-gap: 20px;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 24px;
  width: calc(var(--card-width) * 3 + var(--card-gap) * 2);
  margin: 108px auto 24px;
}

.search-wrapper {
  display: flex;
  justify-content: end;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--card-gap);
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: var(--white);
  font-weight: 500;
  transform: translate(-50%, -50%);
}

.placeholder-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.placeholder-main-caption {
  font-size: 50px;
  line-height: 64px;
}

.placeholder-sub-caption {
  font-size: 30px;
  line-height: 48px;
}

.placeholder-button {
  padding: 20px 60px;
}

.search-input {
  width: 292px;
  margin-top: 10px;
}

.search-input::placeholder {
  padding-left: 23px;
  background: url("../../assets/img/icons/input-search.svg/") no-repeat left
    center / 13px 13px;
}
