.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.sign-up-title {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
}

.question {
  margin-bottom: 32px;
  color: var(--text-type-300);
  line-height: 20px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.submit-button {
  align-self: center;
  width: 138px;
}

.sign-in-link {
  border-bottom: 2px solid var(--yellow);
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 33px;
  right: 5%;
}
