.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-background);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1085px;
  padding: 85px 0;
}

.footer-logo {
  margin-bottom: 55px;
  color: var(--site-text-color);
  font-weight: 500;
  font-size: 22px;
}

.footer-description {
  color: var(--site-text-color);
  font-size: 15px;
  line-height: 25px;
}
