.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray-background);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1085px;
  margin-left: 230px;
  padding: 85px 0;
}

.footer-logo {
  margin-bottom: 55px;
  color: var(--site-text-color);
  font-weight: 500;
  font-size: 22px;
}

.footer-description {
  color: var(--site-text-color);
  font-size: 15px;
  line-height: 25px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 46px;
}

.navigation-title,
.footer-contacts-title {
  margin-bottom: 24px;
  color: var(--site-text-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.navigation-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation-link,
.navigation-link:active {
  color: var(--site-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.navigation-link::first-letter {
  text-transform: uppercase;
}

.social-media {
  display: flex;
  gap: 14px;
}

.footer-content-contact,
.footer-content-contact:active {
  color: var(--site-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  text-decoration: none;
}

.contact-address-title,
.contact-phone-title,
.contact-email-title {
  margin-top: 15px;
  color: #878787;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  text-transform: uppercase;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-address-link,
.contact-phone-link,
.contact-email-link,
.contact-phone-link:active,
.contact-address-link:active,
.contact-email-link:active {
  flex-direction: row;
  color: var(--site-text-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 19px;
  text-decoration: none;
}

.footer-contacts {
  height: 400px;
  margin-left: 118px;
  overflow: hidden;
}
