.form-wrapper {
  width: 324px;
  margin: 0 auto;
}

.title {
  margin-bottom: 34px;
  color: var(--gray-600);
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
}

.submit-button {
  width: 154px;
  margin: 36px auto 0;
}

.input-wrapper {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 42%;
  right: 5%;
}
