@font-face {
  font-weight: 400;
  font-family: Gilroy;
  font-style: normal;
  src: url("/fonts/gilroy-regular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: Gilroy;
  font-style: normal;
  src: url("/fonts/gilroy-medium.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: Gilroy;
  font-style: normal;
  src: url("/fonts/gilroy-bold.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "BN Chester";
  font-style: normal;
  src: url("/fonts/bn-chester.otf") format("opentype");
}
