.heading-1 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 44px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 64px;
}

.heading-2 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 48px;
}

.heading-3 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 600;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 32px;
}

.heading-4 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 24px;
}

.heading-5 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 18px;
}

.heading-6 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 24px;
}

.subheading {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 24px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 48px;
}

.body-1 {
  margin: 0;
  color: var(--text-type-300);
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 28px;
}

.body-2 {
  margin: 0;
  color: var(--text-type-300);
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 20px;
}

.bodyBold {
  margin: 0;
  color: var(--text-type-300);
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 19px;
}

.caption {
  margin: 0;
  color: var(--text-type-300);
  font-weight: 500;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.quotation {
  margin: 0;
  color: var(--text-type-300);
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: italic;
  line-height: 24px;
}

.buttonText-1 {
  margin: 0;
  color: var(--text-type-400);
  font-weight: 500;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.buttonText-2 {
  color: var(--text-type-400);
  font-weight: 400;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.inputLabel {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--text-type-400);
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 16px;
}

.input {
  color: var(--text-type-400);
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  line-height: 24px;
}
