:root {
  --gray-600: #343434;
  --gray-400: #424242;
  --gray-300: #c9c9c9;
  --gray-200: #c4c4c4;
  --gray-100: #f7f7f7;
  --gray-disable: #e7e5e5;
  --gray-background: #f4f4f4;
  --white: #ffffff;
  --black: #000000;
  --yellow: #ffb61d;
  --red: #ea410c;
  --blue: #3b79c3;
  --text-type-400: #130138;
  --text-type-300: #5a6474;
  --site-text-color: #161616;
  --site-brown-color: #d3a265;
  --z-index-level-one: 10;
  --z-index-level-two: 20;
  --z-index-tooltip: 100;
}
